
:root {
  --background: rgb(0, 0, 0); /*rgb(249, 204, 24) */
  --primary: rgb(249, 204, 24);
  --secondary: rgb(246, 226, 137); /*rgb(251, 239, 171)*/
  --dark: black;
  --bright: rgb(255, 255, 255);
  --paper:  rgb(241, 235, 221);
  --date: rgb(185, 38, 38); /*rgb(105, 58, 139)*/
  --sub-date: rgb(178, 178, 178);/*rgb(134, 58, 139)*/
  --event-text: rgb(65, 2, 2);
  --event-text-subtle: rgb(0, 0, 0);
  --border: black;
  --sween: rgb(37, 97, 71);
  
  --vertical-width: 1096px;

    font-family: 'Times New Roman', Times, serif;
}

@font-face { font-family: Ruritania; src: url('font/Ruritania.ttf'); } 
@font-face { font-family: Miki; src: url('font/miki-nice-ainjoo.otf'); } 
@font-face { font-family: Unifraktur; src: url('font/UnifrakturMaguntia21.ttf'); } 

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100dvh;
}

header {
    text-align: center;
    filter: invert(1);
}

header h1 {
    margin: 20px;
    margin-bottom: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* Header resizing */
@media screen and (max-width: 400px) {
    header img {
        width: 88%;
        height: auto;
        margin: 0;
    }
} 

/* Desktop sections */
@media screen and (min-width: 1096px) {

    nav {
        display: none;
    }

}

/* Mobile Scroll */
@media screen and (max-width: 1095px) {
    nav {
        display: flex;
        justify-content: space-around;
        background-color: var(--dark);
        box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 1);
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .otd-section__title {
        display: none;
    }

    main {
        flex-direction: column;
        height: auto;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex: 0.8 1 auto;
    }
}








.otd-section {
    width: 500px;
    margin: 10px 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-width: 30px;
    border-style: solid;
    border-image: url("/img/border-white-gritt.png") 60 fill repeat;*/
}

.otd-section--social {
    width: fit-content;
}
.otd-section--social h2{
    width: 100%;
}

.otd-section__title{


}

nav a {
    text-decoration: none;
}

.title-text { 
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;

    color: var(--bright);

    font-family: Ruritania;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-style: italic;
    line-height: 2em;

    background-color:var(--dark);

    width: 100%;


    text-align: center;
    transition: color 0.2s;

}

.nav-title {
    flex: 1 1 auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.state-enabled {
    color: var(--primary);
    font-size: 2em;
}

.state-disabled {
    color: var(--bright);
    font-size: 1.2em;
    transition: font-size 0.2s;
}

.state-disabled:hover {
    cursor: pointer;
    font-size: 1.9em;
}


.otd-section__container {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 0;
    border-radius: 15px;
    box-shadow: inset 2px 2px 8px 2px rgba(255, 255, 255, 0.1);
   
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 1;

    /* background-color: rgb(221, 224, 234) ; */
    /* background-image: radial-gradient(var(--dark) 15%, transparent 16%),
    radial-gradient(var(--dark) 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px; */

}

.otd-section__container--events {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.otd-section__container--events a:link{
    text-decoration: none;
}

.otd-section__container--events a:visited{
    text-decoration: none;
}

.otd-section__container--music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-bottom: 10px;
}


.otd-section__container--social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
}

.otd-event > a {
    font-size: 1rem;
    box-sizing: border-box;
    /* border: 0.5em solid var(--bright); */
    background-color: var(--paper);
    color: var(--dark);
    padding: 0.5em 0.5em 0.3em 0.5em;

    display: flex;

    margin: 10px;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.otd-event:not(:has(> a)) {
    font-size: 1rem;
    box-sizing: border-box;
    /* border: 0.5em solid var(--bright); */
    background-color: var(--paper);
    color: var(--dark);
    padding: 0.5em 0.5em 0.3em 0.5em;

    display: flex;

    margin: 10px;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.otd-event__date {
    grid-area: date;
    background-color: var(--primary);
    width: 6em;
    height: 6em;
    margin: 0;
    
    text-align: center;
 
}

.otd-event__date--month{ 
    text-transform: uppercase;
    font-size: 0.9em;
    display: block;
    letter-spacing: 1em;
    text-indent: 1em;
    margin: 0 auto;
    margin-top: 0.5em;
    font-weight: 900;
}
.otd-event__date--day{ 
    font-size: 4em;
    font-family: Unifraktur;
}


.otd-event__main-info {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin-left: 1em;
    width: 100%;
}


.otd-event__location {
    margin: 0;
    text-align: center;
}

.otd-event__lineup {
    margin: 0;
    font-size: 0.8em;
    margin-top: 0.3em;
    color: var(--event-text);
}

.otd-event__description {
    margin: 0;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: var(--event-text-subtle);
}

.otd-event__additional {
    margin: 0;
    font-size: 0.8em;
    margin-top: auto;
    text-align: right;
    color: var(--event-text);
}

.otd-event__time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.otd-event__doors {
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    background-color: var(--sub-date);
}


.diamondButton {  
    width: 80px;
    height: 80px;
    transform: rotate(0.125turn);
}

.diamondButton span {
    transform: rotate(-0.125turn);
}

/* .diamondButton:hover {
    filter: drop-shadow(5px 2px rgba(0,0,0,0.5)) !important; 
} */

.coolButton {
    box-sizing: border-box;
    background-color: var(--dark); /*brown*/

    border-width: 20px;
    border-style: solid;
    border-image: url("/img/border-white-gritt.png") 60 fill repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    margin: 20px;
    flex-shrink: 0;
    transition: box-shadow 0.15s, border-width 0.1s, width 0.5s, height 0.5s;
    text-decoration: none;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.11);

}


.coolButton:hover {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.25);
    border-width: 30px;
}


.coolButton:active {
    box-shadow: 4px 4px 16px 0 rgba(0,0,0,0.3);
    border-width: 40px;
}

.bigButton {
    width: 80%;
    height: 80px;
}

