
:root {
  --background: rgb(0, 0, 0); /*rgb(249, 204, 24) */
  --primary: rgb(249, 204, 24);
  --secondary: rgb(246, 226, 137); /*rgb(251, 239, 171)*/
  --dark: black;
  --bright: white;
  --date: rgb(105, 58, 139); /*rgb(105, 58, 139)*/
  --sub-date: rgb(134, 58, 139);/*rgb(134, 58, 139)*/
  --event-text: rgb(242, 217, 248);
  --event-text-subtle: lavender;
  --border: black;

  font-family:  Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

body {
    background-color: var(--background);
}

header {
    text-align: center;
    filter: invert(1);
}

header h1 {
    margin: 20px;
    margin-bottom: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:start;
    align-content: start;
}

 @media screen and (max-width: 400px) {
    header img {
        width: 88%;
        height: auto;
        margin: 0;
    }
} 

.otd-section {
    width: 500px;
    margin: 10px 20px;
    padding: 0;
}

.otd-section__title{
    position: relative;
    box-sizing: border-box;
    /* border: 0.2em solid var(--primary); */
    color: var(--bright);
    border-width: 30px;
    border-style: solid;
    border-image: url("/img/border-white-gritt.png") 60 fill repeat;

    background-color:var(--dark);
    /* background-image: radial-gradient(var(--primary) 15%, transparent 16%),
    radial-gradient(var(--primary) 15%, transparent 16%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px; */

    width: 100%;

    padding: 5px;
    font-size: 1.125rem;
    text-align: center;

    /* Drop Shadow don't work */
    /* This one does vvvvvvvv */
    /* box-shadow: 0.3em 0.3em 0 6px rgba(0, 0, 0, 1); */

    /* &::before {
        content: "";
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 0.5em;
        vertical-align: bottom;
        transform: skewx(45deg) translate(-11.08em,1.6em);
        background: rgba(0, 0, 0, 0.8);
    }
    &::after {
        content: "";
        position: absolute;
        transform-origin: 0 0;
        z-index: -1;

        width: 0.5em;
        height: 133%;
        transform: skewy(45deg);
        top: -0.29em;
        left: 101%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -2;
    } */
}

.otd-section__container {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 12px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--primary);
    /* background-image: radial-gradient(var(--dark) 15%, transparent 16%),
    radial-gradient(var(--dark) 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px; */

}

.otd-section__container--events {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.otd-section__container--events a:link{
    text-decoration: none;
}

.otd-section__container--events a:visited{
    text-decoration: none;
}

.otd-event > a {
    font-size: 1rem;
    box-sizing: border-box;
    /* border: 0.5em solid var(--bright); */
    background-color: var(--dark);
    color: rgb(255, 255, 255);
    padding: 0.5em 0.5em 0.3em 0.5em;

    display: flex;

    margin: 10px;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.otd-event:not(:has(> a)) {
    font-size: 1rem;
    box-sizing: border-box;
    /* border: 0.5em solid var(--bright); */
    background-color: var(--dark);
    color: rgb(255, 255, 255);
    padding: 0.5em 0.5em 0.3em 0.5em;

    display: flex;

    margin: 10px;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.otd-event__date {
    grid-area: date;
    background-color: var(--date);
    width: 6em;
    height: 6em;
    margin: 0;
    
    text-align: center;
 
}

.otd-event__date--month{ 
    text-transform: uppercase;
    font-size: 0.9em;
    display: block;
    letter-spacing: 1em;
    text-indent: 1em;
    margin: 0 auto;
    margin-top: 0.5em;
    font-weight: 900;
}
.otd-event__date--day{ 
    font-size: 4em;
}


.otd-event__main-info {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin-left: 1em;
    width: 100%;
}


.otd-event__location {
    margin: 0;
    text-align: center;
}

.otd-event__lineup {
    margin: 0;
    font-size: 0.8em;
    margin-top: 0.3em;
    color: var(--event-text);
}

.otd-event__description {
    margin: 0;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: var(--event-text-subtle);
}

.otd-event__additional {
    margin: 0;
    font-size: 0.8em;
    margin-top: auto;
    text-align: right;
    color: var(--event-text-subtle);
}

.otd-event__time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.otd-event__doors {
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    background-color: var(--sub-date);
}


.otd-section__container--music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: brown;
}
.otd-section--social {
    width: fit-content;
}
.otd-section--social h2{
    width: 100%;
}

.otd-section__container--social {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: brown;
    width: fit-content;
}

.diamondButton {  
    width: 80px;
    height: 80px;
    transform: rotate(0.125turn);
}

.diamondButton span {
    transform: rotate(-0.125turn);
}

/* .diamondButton:hover {
    filter: drop-shadow(5px 2px rgba(0,0,0,0.5)) !important; 
} */

.coolButton {
    box-sizing: border-box;
    border: 0px solid black;
    background-color: rgb(37, 97, 71); /*brown*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    margin: 30px;
    flex-shrink: 0;
    transition: box-shadow 0.15s, border 0.1s, width 0.5s, height 0.5s, background-color 0.5s;
    text-decoration: none;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.11);

}


.coolButton:hover {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.25);
}


.coolButton:active {
    box-shadow: 4px 4px 16px 0 rgba(0,0,0,0.3);
    border: 5px solid gold;
}

.bigButton {
    width: 80%;
    height: 80px;
    filter: drop-shadow(3px 4px black);
}



